@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

html {
    color: #F7F0F0;
    background: hsla(89, 60%, 87%, 1);
    background: linear-gradient(90deg, hsla(89, 60%, 87%, 1) 0%, hsla(34, 86%, 58%, 1) 0%, hsla(335, 81%, 65%, 1) 93%);
    background: -moz-linear-gradient(90deg, hsla(89, 60%, 87%, 1) 0%, hsla(34, 86%, 58%, 1) 0%, hsla(335, 81%, 65%, 1) 93%);
    background: -webkit-linear-gradient(90deg, hsla(89, 60%, 87%, 1) 0%, hsla(34, 86%, 58%, 1) 0%, hsla(335, 81%, 65%, 1) 93%);
    font-size: 110%;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#links {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#links > * {
    padding: 5%;
}

.wrapper {
    height: 70vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    width: 100%;
}

.typing-demo {
    width: 18ch;
    animation: typing 2s steps(18), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}